body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 800px;    
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
    box-shadow: 2px 2px 4px 2px gray;
}

h1 {
    color: blue;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

p {
    line-height: 25px;
}

ul {
    padding-left: 50px;
    line-height: 30px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border-width: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}